body {
    background-color: teal;
}

h1 {
    text-align: center;
    color: palegoldenrod;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 20px;
    padding-bottom: 10px;
}

a {
    text-decoration: none;
    color: rgb(47, 72, 117);
    border: 1px solid rgb(47, 72, 117);
    padding: 5px 8px;
    text-align: center;
    margin: 5px;
    background-color: coral;
}

a:hover {
    background-color: rgb(207, 101, 62);
}
