body {
  text-align: center;
  background-color: lightgreen;
  margin: 0;
}

h1 {
  margin: auto;
  padding: 9px;
  color: darkgreen;
  font-family: cursive;
}

#cv {
  width : 200pt;
  height : 100pt;
  border: 3px solid grey;
  background-color: green;
}

#btn {
  margin: 10px 5px;
  padding: 7px 10px;
  border: 2px groove green;
  font-size: 15px;
  cursor: pointer;
}
